table {
  width: calc(100% - 16px) !important;
  table-layout: fixed;
}

td {
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
}

#spinner{
  margin:auto;
  /* need to make centred */
}

.mdl-layout__header-row {
  padding-left: 50px;
}

@media screen and (max-width: 390px) {
    /*reduces padding for small screens*/
  td {
    padding-left: 6px !important;
    padding-right: 6px !important;
  }
  th {
    padding-left: 6px !important;
    padding-right: 6px !important;
  }
}

.mdl-data-table th{
  text-align: left !important;
}

#ownerAndRepo {
  display: block;
  font-size: 24px;
  padding: 20px;
  padding-bottom: 10px;
}

table img{
    /*for avatars*/
    width: 100%;
    max-width: 75px
}
