#file_table{
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex-end;
}


.mdl-layout__header-row {
  padding-left: 50px;
}

.mdl-data-table th{
  text-align: left !important;
}

.spinner-container-div {
  padding-left: 20px;
}

#graphToggleSpinner {
  display: inline;
}

#graphSpinner {
  display: none;
}

#pie {
  padding-top: 38px;
}

.buttonDiv {
  padding: 20px;
  display: inline;
}

#ownerAndRepo{
  display: block;
  font-size: 24px;
  padding: 20px;
  padding-bottom: 0px;
}

#pathTitle {
  color: #262626ad !important;
  font-size: 20px;
  padding: 20px;
  padding-bottom: 10px;
}

.graph {
  height: 60vh;
}

.page-content {
  height:calc(100% - 82px);
}

table {
  width: calc(100% - 16px) !important;
  table-layout: fixed;
}
