@media screen and (max-width: 390px){

  .getInfo{
    width: 100% !important;
    min-width: 1px;
    height: 50% !important;
  }

  .options{
    width: 100% !important;
    height: 50% !important;
  }

}

.mdl-layout__header-row {
  padding-left: 50px;
}


.mdl-color-text--grey {
    color: #c3c1c1 !important
}


#getInfo{
    margin: auto;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#repoUrl {
    background: #fdfdfdcb;
}

#inner {
    width: 70%;
}
#inputText, #inputTextOwner, #inputTextURL{
    display: flex;
    align-items: flex-end;
    width: 100%
}

#options{
    margin: auto;
    width: 80%;
    height: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;

}   
